h1 {
              text-align: center; 
              align-items: center;
              justify-content: center;
}

.box {
          display: flex;
          align-items: center;
          justify-content: center;
}

.box  div {
    width: 50%;
    height: 300px;
    border: 2px;
    background: #f4f4f4;
}
