
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box > .left {
    width: 50%;
    height: 50px;
}

.box > .content {
    width: 50%;
    height: 300px; 
    margin-top: 20px;
    background: #f4f4f4;
}